body {
    background-image: linear-gradient(#ff9966, #ff5e62);
    color: #333;
    font-family: Sans-Serif;
    display: flex;
}

.topLevel {
    display: flex;
    margin: 0 auto;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 30px;
    border-radius: 5px;
}

#stog-content {
    text-align: right;
    padding-right: 30px;
}

#wrapper {
    width: 800px;
}

ul {
    list-style-type: none;
}

a:link {
    text-decoration: none;
}

.italic {
    font-style: italic;
}